
h1{
    font-family: 'Knewave', cursive;
    font-size:35px;
    color: #2C541F;
    margin-top: 2%;
    display: inline-block;

    background-image: url("../../images/sakura.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size:50px;

    font-weight: bolder;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #b98ab7;

    text-shadow: #c773c3 3px 0 70px;
}

#logoImgHome{
    width: 100px;
    height: 100px;
    animation: pulse 1.5s;
    transition: all 0.2s ease-in-out;
}

@keyframes pulse{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
#logoImgHome:hover{
    transform: scale(1.3);
}