
.myBtn {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    color: white;

    margin: 2px;
    margin-right: 20px;
  }

  .myBtn:hover {
    border-radius: 40px;
    background-color: #60605e;
  }
