.myCarouselContainer{
    margin-top: 5%;
    margin-bottom: 5%;
}

.myCarouselBorder{
    border:solid #557253;
    border-width: 10%;
    border-radius: 50px;
    background: linear-gradient(225deg, #4d674b, #5b7a59);
    box-shadow: -20px 20px 60px #486147,
                20px -20px 60px #62835f;
}