.myFooter{
    background-color: #2C541F;
    opacity: 0.85;
    color: white;
    padding: 2%
}

a{
    margin-right: 3%;
}

.logoImgFooter{
    width: 30%;
    height: 30%;
}

a.socialLink:link {
    color: white;
  }

a.socialLink:hover {
    color:#000000;
  }
  
a.socialLink:visited{
    color: #09ff00;
  }
